:root { 
--blue_gray_50:#eaf0f7; 
--white_A700_90:#ffffff90; 
--indigo_200_01:#8ea4dd; 
--deep_purple_700:#54408c; 
--blue_A200:#4285f4; 
--red_500:#ea4335; 
--green_600:#34a853; 
--deep_purple_300:#915ed1; 
--deep_purple_200:#b7a3d0; 
--black_900_21:#00000021; 
--blue_gray_500_01:#677185; 
--black_900:#000000; 
--blue_gray_900_02:#1d2b4f; 
--blue_gray_900_01:#26074c; 
--blue_gray_700:#3d5a80; 
--blue_gray_900:#26084d; 
--deep_purple_A200:#6e39f9; 
--deep_orange_100:#ffd0c6; 
--gray_400:#c7c7c7; 
--gray_500:#acadac; 
--amber_500:#fbbc05; 
--white_A700_a2:#ffffffa2; 
--gray_900:#14142f; 
--blue_gray_500:#667085; 
--indigo_A400_26:#4461f226; 
--gray_300:#dfdfdf; 
--gray_300_01:#dcdfdc; 
--gray_100:#f7f7f7; 
--orange_50:#ffeddb; 
--indigo_200:#8fa5dd; 
--gray_100_01:#f6f6f6; 
--indigo_A400:#4461f2; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--blue_gray_700_01:#4f555a; 
}